@import url("https://fonts.googleapis.com/css?family=Roboto");

$base-font: 'Roboto';

.form {
    font-family: $base-font;

        .form h1 {
            font-weight: bold;
            font-size: 24px;
            line-height: 32px;
        }

        .form__label {
            font-weight: bold;
            font-size: 14px;
            line-height: 20px;
            color: #344054;
        }

        .form__input,
        .form textarea {
            font-weight: normal;
            font-size: 16px;
            line-height: 24px;
            color: #667085;
        }

        .btn {
            font-weight: 500;
            font-size: 16px;
            line-height: 24px;
            color: #ffffff;
        }
}